/* Grid */ 
.row{

    &.sm-marg{
        margin-left: -5px;
        margin-right: -5px;

        >*{
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.stand-marg{
        margin-left: -20px;
        margin-right: -20px;

        >*{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &.md-marg{
        margin-left: -25px;
        margin-right: -25px;

        >*{
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &.lg-marg{
        margin-left: -40px;
        margin-right: -40px;

        >*{
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &.xlg-marg{
        margin-left: -50px;
        margin-right: -50px;

        >*{
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &.xxlg-marg{
        margin-left: -80px;
        margin-right: -80px;

        >*{
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}

.container-xxl{
    max-width: 1600px;
}

.container{
    max-width: 1400px;
}