/* Footer
-----------------------------------------------------------------*/

.footer-style1 {

    .fo-box-left,
    .fo-box-right {
        background: $sub_bg;
        border-radius: 15px;
        overflow: hidden;
        min-height: 500px;
        height: 100%;
        padding: 40px;
    }

    .fo-box-left {
        position: relative;
        z-index: 2;

        &:after {
            content: '';
            position: absolute;
            top: -5%;
            right: -5%;
            width: 100%;
            height: 100%;
            background-image: url(../imgs/map-global.png);
            background-size: 50%;
            background-position: top right;
            background-repeat: no-repeat;
            pointer-events: none;
            z-index: -1;
        }

        .tags {

            a {
                font-size: 14px;
                padding: 12px 25px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 30px;
                margin: 4px 0;

                &:hover {
                    border-color: #fff;
                }
            }
        }
    }

    .fo-box-right {

        .social-icon-circle {

            a {

                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }

        .subscribe {

            input {
                font-size: 14px;
                border-radius: 60px;
            }
        }
    }

    &.contact-footer {

        .contact textarea {
            min-height: 220px;
        }

        .contact .form2 input, .contact .form2 textarea{
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }
    }
}

footer {

    .subscribe {

        input {
            background: rgba(255, 255, 255, .05);
            border-radius: 5px;
            border: 0;
            padding: 15px;
            color: #fff;
        }

        button {
            background: transparent;
            border: 0;
            position: absolute;
            top: calc(50% - 15px);
            right: 5px;
        }

        p {

            a {
                color: #fff;
            }
        }
    }
}

.footer-style4 {
    position: relative;
    padding: 0 15px 15px;


    .eml {

        .sub-title {
            margin-bottom: 15px;
        }
    }

    .column {

        li {
            display: inline-block;
            margin-right: 30px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .bord {

        .links {

            li {
                display: inline-block;
                margin-right: 30px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .logo {

        img {
            max-width: 100px;
        }
    }

    &.contact-footer {

        .contact textarea {
            min-height: 220px;
        }
    }
}