/* Headers
-----------------------------------------------------------------*/

.hero-style1 {
    position: relative;
    padding: 200px 0 120px;
    z-index: 10;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, $main_bg);
    }

    h1 {
        line-height: 1;
    }

    .tags {

        a {
            width: max-content;
            padding: 10px 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            font-size: 14px;
            margin: 3px 0;
            transition: all .4s;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }

    .circle-button {
        margin-top: -30px;
    }

    .circle-button svg {
        fill: #fff;
    }
}

.hero-style2 {

    .main-box {
        color: #fff;
        height: 870px;
        padding: 60px 40px;
        background-image: linear-gradient(30deg, #303030, $sub_bg);
        overflow: hidden;
        position: relative;

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .4;
            pointer-events: none;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -30%;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url(../imgs/hero/md.png);
            background-size: cover;
            pointer-events: none;
        }
    }

    .caption {

        h1 {
            font-size: 110px;
            line-height: 1;

            .main-marq {
                display: inline-block;
                width: 280px;
                padding: 15px 0;
                border: 1px solid rgba(255, 255, 255, .3);
                border-radius: 50px;
                margin-bottom: -15px;
                overflow: hidden;

                .box {
                    animation: slide-har 30s linear infinite;

                    .item {
                        padding: 0 15px;

                        h5 {
                            font-size: 42px;
                        }
                    }

                    .w-30px {
                        line-height: 1;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            p {
                display: inline-block;
                width: 250px;
                padding-right: 15px;
                text-align: right;
                line-height: 1.4;
            }
        }
    }

    .gl-rate {
        position: absolute;
        bottom: 40px;
        left: 40px;
        width: max-content;
        background: rgba(0, 0, 0, .08);
        backdrop-filter: blur(10px);
        border-radius: 60px;
        padding: 10px 20px;
        z-index: 3;

        .icon {
            width: 35px;
        }

        .cont {
            padding-left: 30px;

            h6 {
                line-height: 1;
                font-weight: 600;
                font-size: 18px;
            }

            .stars {
                font-size: 13px;
                color: #FFA826;
                margin-left: 10px;
            }

            p {
                color: #eee;
                font-size: 12px;
                margin-top: 2px;
            }
        }
    }

    .right-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .serv {
        background: #fff;
        color: #1f1f1f;
        border-radius: 15px;
        padding: 20px;
        overflow: hidden;

        .content {
            position: relative;
            height: 300px;

            .item {
                position: absolute;
                top: 0;
                left: 0;
                width: max-content;
                display: inline-block;
                user-select: none;
                pointer-events: auto;
                transition: none;

                span {
                    font-size: 16px;
                    padding: 8px 24px;
                    background: #EFF0FA;
                    color: #1f1f1f;
                    border-radius: 30px;

                    &.bdark {
                        background: $main_color2;
                        color: #fff;
                    }

                    &.bred {
                        background: $main-color;
                        color: #1f1f1f;
                    }
                }

                img {
                    width: 50px;
                }

                .icon1 {

                    img {
                        width: 70px;
                    }
                }
            }
        }
    }

    .awards {
        background: $main-color2;
        border-radius: 15px;
        overflow: hidden;
        height: 100%;
        padding: 0 30px 30px 30px;
        position: relative;

        .awards-swiper {
            height: 100%;

            .swiper-slide {
                display: flex;
                align-items: center;
            }
        }

        .item {
            width: 100%;

            .img {
                width: 140px;
                margin: auto;
            }

            span {
                font-size: 14px;
                line-height: 1.4;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .controls {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;

            .swiper-button-next,
            .swiper-button-prev {
                position: static;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 50%;
                margin: 0 2px;

                &:hover {
                    background: #fff;
                    color: #1f1f1f;
                }

                &:after {
                    display: none;
                }
            }
        }
    }
}

.hero-style3 {
    padding: 220px 0 120px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, $main_bg);
    }

    .main-marq {

        h4 {
            font-weight: 200;
            line-height: 1.2;
        }
    }
}

.hero-style4 {
    padding: 220px 0 60px;
    position: relative;

    .container {
        position: relative;
        z-index: 9999999;
    }

    h1 {
        font-size: 17.5vw;
    }

    .tags {

        a {
            padding: 10px 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            font-size: 14px;
            margin: 5px 5px 5px 0;
            transition: all .4s;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}

.hero-style5 {

    .snap-slide .img,
    .snap-slide .hero-video-wrapper {
        height: 100%;
    }

    .snap-slide .main-img .numb {
        font-size: 120px;
        font-weight: 300;
    }

    .snap-slider-thumbs-wrapper {
        width: 350px;
        height: 480px;
        border-radius: 250px;
        box-shadow: none;
    }

    .snap-slide-caption {
        padding: 10px 0;
    }

    .snap-slider-captions {
        position: absolute;
        top: 0;
        z-index: 99;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 64px;
        }

        span {
            font-size: 18px;
        }

        .tag {
            font-size: 14px;
            padding: 9px 20px;
            border: 1px solid rgba(255, 255, 255, .8);
            background: rgba(187, 187, 187, 0.08);
            backdrop-filter: blur(10px);
            border-radius: 30px;
        }
    }

    .snap-slider-captions-wrapper {
        width: 100%;
        height: 90px;
        display: block;
        position: relative;
        overflow: hidden;
    }

    &.shwocase {

        .snap-slider-captions {
            align-items: end;
            height: 90vh;
        }

        .snap-slider-thumbs-wrapper {
            width: 320px;
            height: 350px;
            border-radius: 100px;
            box-shadow: none;
        }
    }
}

.hero-style6 {

    h1 {
        font-size: 22vw;
        font-weight: 700;
        line-height: 1;
        margin-bottom: -80px;
        z-index: -1;
    }
}

.hero-style7 {
    padding: 180px 0 0;
    position: relative;
    background-position: bottom;

    .img {

        &:after {
            content: '';
            position: absolute;
            top: -15px;
            right: -15px;
            left: 0;
            bottom: 0;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 300px;
            z-index: -1;
        }
    }

    .exp {
        padding: 20px;
        border-radius: 15px;
        background: rgba(45, 45, 45, 0.2);
        backdrop-filter: blur(10px);
        position: absolute;
        bottom: 20%;
        right: 0;
        transform: translateX(60%);
        box-shadow: 4px 4px 4px rgba(255, 255, 255, .5);
    }

    .fit-img {
        border-radius: 300px;
    }
}

.content__img {
    width: 225px;
    height: 170px;
    border-radius: 10px;
    position: absolute;
    top: 170px;
    left: 0px;
    opacity: 0;
    overflow: hidden;
    will-change: transform, filter;
}

.content__img-inner {
    background-position: 50% 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-size: cover;
    position: absolute;
    top: calc(-1 * 20px / 2);
    left: calc(-1 * 20px / 2);
}

.left-side {
    height: 100vh;
    width: 350px !important;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {

        .circle-text {
            width: 220px;
            height: 220px;
            border: 1px solid rgba(255, 255, 255, .1);
            padding: 15px;
            border-radius: 50%;
            position: relative;
            margin: auto;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 40px;
            }
        }

        .cont {

            li {
                font-size: 18px;
            }

            span {
                color: #808080;
                font-size: 14px;
            }

            .social-icon {

                a {
                    font-size: 14px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50%;
                    margin: 0 2px;
                    transition: all .4s;

                    &:hover {
                        background: #fff;
                        color: #1f1f1f;
                    }
                }
            }
        }
    }

    .butn {
        text-align: center;
        width: 100%;

        &.butn-bord {
            border: 1px solid rgba(255, 255, 255, .3);

            &:hover {
                background: #fff;
                color: #212121;
            }
        }

        >div {
            margin: auto;
            width: max-content;
        }
    }
}

.right-side {
    width: calc(100% - 350px) !important;
}

.pg-hero {
    padding: 200px 0 0;
}